<div *ngIf="this.myCollectionView">
  <!-- MyCollection view specific display can go here -->
</div>

<!-- SEE ALL ARTICLES -->
<table class="table table-hover">
  <thead class="thead-light">
    <tr>
      <th></th>
      <th>Title</th>
      <th>Author(s)</th>
      <th>Journal</th>
      <th>Year</th>
    </tr>
  </thead>
  <tbody>
    <!-- Row Displaying Article Entity -->
    <tr *ngFor="let ja of articlesToDisplay">
      <td>
        <button (click)="goTo(ja.id)" [ngClass]="'btn btn-sm mt-1 btn-custom-primary' + this.chosenPalette">Cite / Examine</button>
      </td>

      <!-- Title -->
      <td style="min-width: 250px">{{ ja.title }}</td>

      <!-- Author(s) -->
      <td>
        {{ ja.authors | authorFormat }}
      </td>

      <!-- Journal Name -->
      <td>{{ ja.journal.name }}</td>

      <!-- Year -->
      <td>{{ ja.yearPublished }}</td>

    </tr>
  </tbody>
</table>
