<h5 [ngClass]="'mb-2 header-palette' + this.chosenPalette">Cite All</h5>

<!-- user is prompted to choose a CitationStyle -->
Choose a style:<br />
<button
  [ngClass]="'btn mr-2 my-2 btn-sm btn-custom-primary' + this.chosenPalette"
  *ngFor="let cs of this.citationStyles"
  (click)="chooseCitationStyle(cs)"
>
  {{ cs.abbreviation }}
</button>

<!-- user has chosen a CitationStyle -->
<span *ngIf="this.chosenCitationStyle">
  <h6 [ngClass]="'mt-2 header-palette' + this.chosenPalette" *ngIf="this.chosenCitationStyle">
    {{ this.chosenCitationStyle.abbreviation }} citations
  </h6>
  <hr />
  <span *ngFor="let ja of this.collToCiteAll.articles">
    <!-- show JournalArticle citations -->
        <app-citation-style-switch
      [jaToCite]="ja"
      [chosenCitationStyle]="this.chosenCitationStyle"
    ></app-citation-style-switch>
    <hr />
  </span>
  <!-- button to download as docx -->
  <app-download-docx
    [chosenPalette]="this.chosenPalette"
    [articlesToCite]="this.collToCiteAll.articles"
    [docxCitationStyle]="this.chosenCitationStyle"
  ></app-download-docx>
  <!-- button end -->
</span>
