<app-navi [chosenPalette]="this.chosenPalette"></app-navi>
<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <div *ngIf="this.listView" [ngClass]="'col-2 d-none d-md-block sidebar sidebar-palette' + this.chosenPalette">
      <app-sidebar [chosenPalette]="this.chosenPalette"></app-sidebar>
    </div>
    <div
      *ngIf="!this.listView"
      [ngClass]="'col-3 col-xl-2 d-none d-md-block sidebar sidebar-palette' + this.chosenPalette"
    >
      <app-sidebar [chosenPalette]="this.chosenPalette"></app-sidebar>
    </div>

    <!-- Main content -->
    <div class="col">
      <!-- Name and description -->
      <div class="row">
        <div class="col">
          <!-- Non-edit mode -->
          <span *ngIf="!this.editView">
            <h4 [ngClass]="'my-3 page-header header-palette' + this.chosenPalette">
              <span [ngClass]="'header-highlighter-palette' + this.chosenPalette">&nbsp;</span>&nbsp;
              {{ coll.name }}
              <button
                [ngClass]="'float-right btn btn-sm btn-custom-warning' + this.chosenPalette"
                (click)="setExpandedView()"
              >
                Expanded View
              </button>
              <button
                [ngClass]="'float-right btn btn-sm mr-2 btn-custom-warning' + this.chosenPalette"
                (click)="setListView()"
              >
                List View
              </button>
            </h4>
            <div class="row">
              <div class="col-8">
                <h5 [ngClass]="'mt-2 header-palette' + this.chosenPalette">
                  {{ coll.description }}
                </h5>
              </div>
            </div>
            <h5>
              <button [ngClass]="'btn btn-sm mr-2 btn-custom-primary' + this.chosenPalette">
                Cite All
              </button>
              <button
                [ngClass]="'btn btn-sm mr-2 btn-custom-secondary' + this.chosenPalette"
                (click)="showEditView()"
              >
                Edit
              </button>
            </h5>
          </span>

          <!-- Edit mode -->
          <span *ngIf="this.editView">
            <h4>
              <input [(ngModel)]="this.editedMyCollection.name" class="col-6" />
            </h4>
            <h5>
              <textarea
                [(ngModel)]="this.editedMyCollection.description"
                class="col-6"
              ></textarea>
            </h5>
            <button
              [ngClass]="'btn btn-custom-success' + this.chosenPalette"
              (click)="this.updateMyCollection(this.editedMyCollection)"
            >
              Save Changes
            </button>
          </span>
        </div>
      </div>
      <!-- ^ Close row: header -->

      <div class="my-2"></div>

      <!-- Articles -->
      <div class="row">
        <div class="col">
          <!-- Expanded View -->
          <span *ngIf="this.expandedView">
            <div class="card-deck">
              <span
                *ngFor="let article of coll.articles"
                style="min-width: 100%"
              >
                <app-display-article
                  [articleId]="article.id"
                  [myCollectionView]="true"
                  [collId]="this.collId"
                ></app-display-article>
              </span>
            </div>
          </span>

          <!-- List View -->
          <div class="mt-3"></div>
          <span *ngIf="this.listView">
            <app-display-articles
              [articlesToDisplay]="coll.articles"
              [myCollectionView]="true"
            ></app-display-articles>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
