<app-navi></app-navi>
<div class="container-fluid">
  <h4>{{ coll.name }}</h4>
  <h5>{{ coll.description }}</h5>
  <button class="btn btn-warning mb-3">Cite All</button>
  <button
    class="float-right btn btn-secondary btn-sm"
    (click)="setExpandedView()"
  >
    Expanded View
  </button>
  <button
    class="float-right btn btn-secondary btn-sm mr-2"
    (click)="setListView()"
  >
    List View
  </button>

  <div *ngIf="this.expandedView">
    <div *ngFor="let article of coll.articles">
      <app-display-article [articleId]="article.id"></app-display-article>
    </div>
  </div>

  <div *ngIf="this.listView">
    <app-display-articles
      [articlesToDisplay]="coll.articles"
    ></app-display-articles>
  </div>
</div>
