<div class="container-fluid">
  <div class="row">
    <div class="col-9">
      <h1>Reference Manager</h1>
      <button
        class="btn btn-primary btn-lg mr-3 my-1"
        [routerLink]="['/list-articles']"
      >
        List All
      </button>
      <button
        class="btn btn-success btn-lg mr-3 my-1"
        [routerLink]="['/create']"
      >
        Create
      </button>
      <button
        class="btn btn-info btn-lg mr-3 my-1"
        [routerLink]="['/my-collections']"
      >
        My Collections
      </button>
      <button
        class="btn btn-secondary btn-lg mr-3 my-1"
        [routerLink]="['/search']"
      >
        Search
      </button>
    </div>
    <div class="col-3 text-right">
      <div class="float-right">
        <a class="text-right" href="">My Account</a><br />
        <a class="text-right" href="" (click)="logout()">Logout</a>
      </div>
    </div>
  </div>
</div>
