<app-navi></app-navi>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 bg-palette-A3 d-none d-md-block sidebar">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-6">
      <h4 class="my-3 page-header">Create New Article</h4>
      <form #createForm>
        <!-- Title -->
        <div class="form-group">
          <label for="title"><h5>Title:</h5></label>
          <textarea class="form-control" name="title" id="title"></textarea>
        </div>
        <hr />
        <!-- Authors -->
        <h5>Authors:</h5>
        <div *ngIf="this.authorsList.length === 0" class="text-custom-warning">
          (Please enter one or more authors)
        </div>
        <div *ngIf="this.authorsList.length !== 0">
          <table>
            <tr *ngFor="let a of authorsList">
              <td>
                <button
                  class="btn btn-custom-danger btn-sm mr-3"
                  (click)="removeAuthor(a)"
                >
                  Remove
                </button>
              </td>

              <td>
                {{ a.firstName }} {{ a.middleName }} {{ a.lastName }}
                {{ a.suffix }}
              </td>
            </tr>
          </table>
        </div>

        <div class="form-group mt-3">
          <label for="authorFirstName">First name: </label>
          <input
            type="text"
            [(ngModel)]="newAuthor.firstName"
            class="form-control"
            id="fname"
            name="fname"
          />
        </div>
        <div class="form-group">
          <label for="authorMiddleName">Middle name: </label>
          <input
            type="text"
            [(ngModel)]="newAuthor.middleName"
            class="form-control"
            id="mid"
            name="mid"
          />
        </div>
        <div class="form-group">
          <label for="authorLastName">Last name: </label>
          <input
            type="text"
            [(ngModel)]="newAuthor.lastName"
            class="form-control"
            id="lname"
            name="lname"
          />
        </div>
        <div class="form-group">
          <label for="authorSuffix">Suffix: </label>
          <input
            type="text"
            [(ngModel)]="newAuthor.suffix"
            class="form-control"
            id="suffix"
            name="suffix"
          />
        </div>
        <div class="form-group">
          <button (click)="addAuthor()" class="btn btn-custom-warning btn-sm">
            Add Author
          </button>
        </div>
        <hr />
        <!-- Journal Dropdown Menu -->
        <div class="form-group">
          <h5>Journal:</h5>
          <select
            class="form-control mb-3"
            [(ngModel)]="newJournal"
            name="newJournal"
          >
            <option value="" selected></option>
            <option *ngFor="let j of journals" [ngValue]="j">
              {{ j.name }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="volumeNum"><h5>Volume:</h5></label>
          <input type="text" class="form-control" id="vol" name="vol" />
        </div>
        <div class="form-group">
          <label for="year"><h5>Year:</h5></label>
          <input type="text" class="form-control" id="year" name="year" />
        </div>
        <div class="form-group">
          <label for="doi"><h5>DOI:</h5></label>
          <input type="text" class="form-control" id="doi" name="doi" />
        </div>
        <button
          type="submit"
          class="btn btn-custom-primary mt-3 mb-3 btn-full-width"
          (click)="create(createForm)"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
