<span class="sidebar bg-palette-A3">
  <div class="mt-3"></div>
  <form>
    <div class="form-group">
      <input
      type="text"
      class="form-control form-control-sm mt-2"
      placeholder="Search..."
      name="searchTerm"
      [(ngModel)]="searchTerm"
      />
      <button (click)="search()" class="btn btn-sm btn-custom-warning-white btn-full-width mt-1">Go</button>
    </div>
  </form>
  <hr />
  <button [routerLink]="['/display-all-articles']" class="btn btn-sm btn-custom-warning-white btn-full-width my-1">List All</button>
  <button [routerLink]="['/my-collections']" class="btn btn-sm btn-custom-warning-white btn-full-width my-1">My Collections</button>
  <button [routerLink]="['/create']" class="btn btn-sm btn-custom-warning-white btn-full-width my-1">Create</button>
  <button [routerLink]="['/search']" class="btn btn-sm btn-custom-warning-white btn-full-width my-1">Search</button>
</span>
