<div class="container-fluid">
  <h4>Search</h4>

  <!-- Search by author or title -->
  <form #searchForm class="form-inline">
    <div class="form-group">
      <label for="searchTerm">Search Term (author or title):</label>
      <input
        type="text"
        class="form-control mr-2 ml-2"
        name="searchTerm"
        id="searchTerm"
      />
    </div>
    <button
      type="submit"
      class="btn btn-secondary"
      (click)="search(searchForm)"
    >
      Search
    </button>
  </form>
  <br />

  <!-- Show all articles for a given journal -->
  <form class="form-inline">
    Journal:
    <select
      class="form-control ml-2 mr-2"
      [(ngModel)]="selectedJournal"
      name="selectedJournal"
    >
      <option value="" selected></option>
      <option *ngFor="let j of allJournals" [ngValue]="j">{{ j.name }}</option>
    </select>

    <button
      type="submit"
      class="btn btn-secondary"
      (click)="showAllByJournal()"
    >
      Search
    </button>
  </form>

  <!-- Search Results: -->
  <div *ngIf="articleResults">
    <h3>Results:</h3>
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th>Title</th>
          <th>Author(s)</th>
          <th>Journal</th>
          <th>Vol</th>
          <th>Year</th>
          <th>DOI</th>
        </tr>
      </thead>
      <tbody>
        <!-- Row Displaying Article Entity -->
        <tr *ngFor="let ja of articleResults">
          <!-- Title -->
          <td *ngIf="ja !== editJa" style="min-width: 250px">{{ ja.title }}</td>

          <!-- Author(s) -->
          <td>
            {{ ja.authors | authorFormat }}
          </td>

          <!-- Journal Name -->
          <td>{{ ja.journal.name }}</td>

          <!-- Volume -->
          <td>{{ ja.volumeNum }}</td>

          <!-- Year -->
          <td>{{ ja.yearPublished }}</td>

          <!-- DOI -->
          <td style="max-width: 150px; word-wrap: 'break-word;'">
            {{ ja.doi }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
