<app-navi [chosenPalette]="this.chosenPalette"></app-navi>
<div class="container-fluid">
  <div class="row">
    <div [ngClass]="'col-3 col-xl-2 d-none d-md-block sidebar sidebar-palette' + this.chosenPalette">
      <app-sidebar [chosenPalette]="this.chosenPalette"></app-sidebar>
    </div>
    <div class="col-sm-12 col-md-6">
      <h4 [ngClass]="'my-3 page-header header-palette' + this.chosenPalette">
        <span [ngClass]="'header-highlighter-palette' + this.chosenPalette">&nbsp;</span>&nbsp;Search
      </h4>
      <!-- Search by author or title -->
      <form #searchTitleForm>
        <div class="form-group">
          <label for="searchTitleTerm"><h5 [ngClass]="'header-palette' + this.chosenPalette">Title or Author:</h5></label>
          <br />
          <textarea
            class="form-control"
            rows="2"
            [(ngModel)]="searchTerm"
            name="searchTerm"
            id="searchTerm"
          ></textarea>
        </div>
        <button type="submit" [ngClass]="'btn btn-custom-primary' + this.chosenPalette" (click)="search()">
          Search
        </button>
      </form>
      <hr />
      <!-- Show all articles for a given journal -->
      <form>
        <div class="form-group">
          <h5 [ngClass]="'header-palette' + this.chosenPalette">Journal:</h5>
          <select
            class="form-control select-journal"
            [(ngModel)]="selectedJournal"
            name="selectedJournal"
          >
            <option value="" selected></option>
            <option *ngFor="let j of allJournals" [ngValue]="j">
              {{ j.name }}
            </option>
          </select>
        </div>
        <button
          type="submit"
          [ngClass]="'btn btn-custom-primary' + this.chosenPalette"
          (click)="showAllByJournal()"
        >
          Search
        </button>
      </form>

      <!-- Search Results: -->
      <div *ngIf="articleResults">
        <hr />
        <h4 [ngClass]="'my-3 page-header header-palette' + this.chosenPalette">Results</h4>
        <div *ngIf="articleResults.length !== 0">
          <app-display-articles
          [articlesToDisplay]="articleResults"
          ></app-display-articles>
        </div>
        <div *ngIf="articleResults.length === 0">
          No articles matched your search criteria.
        </div>
      </div>
    </div>
  </div>
</div>
