<div class="container-fluid">
  <h4>Search</h4>

  <!-- Search by author or title -->
  <form #searchForm class="form-inline">
    <div class="form-group">
      <label for="searchTerm">Search Term (author or title):</label>
      <input
        type="text"
        class="form-control mr-2 ml-2"
        name="searchTerm"
        id="searchTerm"
      />
    </div>
    <button
      type="submit"
      class="btn btn-secondary"
      (click)="search(searchForm)"
    >
      Search
    </button>
  </form>
  <br />

  <!-- Show all articles for a given journal -->
  <form class="form-inline">
    Journal:
    <select
      class="form-control ml-2 mr-2"
      [(ngModel)]="selectedJournal"
      name="selectedJournal"
    >
      <option value="" selected></option>
      <option *ngFor="let j of allJournals" [ngValue]="j">{{ j.name }}</option>
    </select>

    <button
      type="submit"
      class="btn btn-secondary"
      (click)="showAllByJournal()"
    >
      Search
    </button>
  </form>

  <!-- Search Results: -->
  <div *ngIf="articleResults">
    <div *ngIf="articleResults.length !== 0">
      <h3>Results:</h3>


      <app-display-articles [articlesToDisplay]="articleResults"></app-display-articles>
    </div>
    <div *ngIf="articleResults.length === 0">
      No articles matched your search criteria.
    </div>
  </div>
</div>
