<div *ngIf="!this.articleRemoved && !this.deleted" class="card m-3">
  <!-- Card Body -->
  <div class="card-body">
    <app-article-card-body [ja]="this.selected"></app-article-card-body>
  </div>

  <!-- Footer/buttons: DisplayAllArticles version -->
  <div *ngIf="!this.myCollectionView">
    <app-article-card-footer [viewCite]="false"></app-article-card-footer>
  </div>

  <!-- Footer/buttons: MyCollection version -->
  <div *ngIf="myCollectionView">
    <app-article-card-footer-my-coll
      [viewCite]="false"
    ></app-article-card-footer-my-coll>
  </div>

  <!-- Messages saying article removed from collection or deleted -->
  <div *ngIf="this.articleRemoved" class="card m-3">
    <div class="card-body"><h5>Removed.</h5></div>
  </div>

  <div *ngIf="deleted" class="card m-3">
    <div class="card-body"><h5>Deleted.</h5></div>
  </div>
</div>
