<div class="card m-3">
  <!-- Card Body -->
  <div class="card-body">
    <app-article-card-body
      [chosenPalette]="this.chosenPalette"
      [viewCite]="this.viewCite"
      [ja]="this.selectedJa"
      [(jaDeleted)]="this.jaDeleted"
      [(articleRemoved)]="this.articleRemoved"
      [editMode]="this.editMode"
      [(editedJa)]="this.editedJa"
      [submittedEditMessage]="this.submittedEditMessage"
    ></app-article-card-body>
  </div>

  <!-- Footer/Buttons -->
  <div class="card-footer d-flex" *ngIf="!this.articleRemoved">
    <app-article-card-footer
      [(viewCite)]="this.viewCite"
      [(jaDeleted)]="this.jaDeleted"
      (jaDeletedChange)="this.deleteJa($event)"
      [chosenPalette]="this.chosenPalette"
      [myCollectionView]="this.myCollectionView"
      [(editMode)]="this.editMode"
      (editModeChange)="this.setEditMode()"
      [(submitEdit)]="this.submitEdit"
      (submitEditChange)="this.update()"
      [(articleRemoved)]="this.articleRemoved"
    ></app-article-card-footer>
  </div>
</div>
