<!-- nav -->
<app-navi [chosenPalette]="this.chosenPalette"></app-navi>
<!-- end nav -->

<div class="container-fluid">
  <div class="row">
    <!-- sidebar -->
    <div
      [ngClass]="
        'col-3 col-xl-2 d-none d-md-block sidebar sidebar-palette' +
        this.chosenPalette
      "
    >
      <app-sidebar [chosenPalette]="this.chosenPalette"></app-sidebar>
    </div>
    <!-- end sidebar -->

    <div class="col">
      <!-- page title -->
      <h4 [ngClass]="'my-3 page-header header-palette' + this.chosenPalette">
        <span [ngClass]="'header-highlighter-palette' + this.chosenPalette"
          >&nbsp;</span
        >&nbsp;My Collections
      </h4>
      <!-- end page title -->

      <!-- for each MyCollection... -->
      <div
        class="card mb-3"
        style="max-width: 500px"
        *ngFor="let coll of this.allCollections"
      >
        <!-- card showing a MyCollection -->
        <div class="container">
          <div class="card-title mt-2">
            <a
              class="link-my-collections-card"
              [routerLink]="['/my-collection/' + coll.id]"
              ><h5 [ngClass]="'header-palette' + this.chosenPalette">
                {{ coll.name }}
              </h5></a
            >
          </div>
          <div class="card-text mb-2">
            {{ coll.description }}
          </div>

          <!-- user clicked Cite All -->
          <div *ngIf="this.collToCiteAll === coll">
            <hr />
            <app-cite-all-ui
              [chosenPalette]="this.chosenPalette"
              [citationStyles]="this.citationStyles"
              [collToCiteAll]="this.coll"
            ></app-cite-all-ui>
          </div>
        </div>

        <!-- card footer -->
        <div class="card-footer">
          <span *ngIf="this.collToView === coll">
            <button
              [ngClass]="'btn btn-sm btn-custom-secondary' + this.chosenPalette"
              (click)="back()"
            >
              Back
            </button>
          </span>

          <div *ngIf="this.collToView !== coll">
            <button
              [ngClass]="
                'btn btn-sm mr-2 btn-custom-primary' + this.chosenPalette
              "
              [routerLink]="['/my-collection/' + coll.id]"
            >
              View
            </button>
            <button
              [ngClass]="
                'btn btn-sm mr-2 btn-custom-primary' + this.chosenPalette
              "
              (click)="citeAll(coll)"
            >
              Cite All
            </button>
            <button
              [ngClass]="
                'btn btn-sm mr-2 btn-custom-secondary' + this.chosenPalette
              "
              (click)="editCollection(coll)"
            >
              Edit
            </button>
          </div>
          <div *ngIf="underConstructionMessage && this.collToView === coll">
            This feature is under construction!
          </div>
        </div>
      </div>
      <br />
    </div>
  </div>
</div>
