.background-image-dev {
  background-image: url('src/assets/images/library.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

/* This is necessary because of differences
in URL paths between production and development: */
.background-image-prod {
  /* FIXME url */
  background-image: url('http://18.219.247.72:8080/RefTracker/assets/images/library.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

.center-content {
  border: 0px;
  /* background-color:rgb(237,237,237, 0.8); */
  margin-top: 10%;
}
