<div class="background-image">
  &nbsp;
  <div class="center-content card mx-auto" style="max-width: 500px">
    <h2 class="text-center">Welcome to</h2>
    <h1 class="text-center">Reference Manager</h1>
    <h4 class="ml-3">Login:</h4>
    <form #loginForm>
    <table class="mx-3">
      <tr>
        <td><label>Username:</label></td>
        <td><input name="uname" type="text" class="form-control" /></td>
      </tr>
      <tr>
        <td><label>Password:</label></td>
        <td><input name="pass" type="password" class="form-control" /></td>
      </tr>
      <tr>
        <td>
          <button
            class="mb-3 btn btn-primary"
            type="submit"
            (click)="login(loginForm)"
          >
            Login
          </button>
        </td>
      </tr>
    </table>
    <div *ngIf="errorLoggingIn" class="text-danger ml-3 mb-3">{{ this.errorLoggingIn}} </div>
    <table class="mx-3 mb-3">
      <tr><td><button class="btn btn-secondary" [routerLink]="['/register']">Register</button></td></tr>
    </table>
    </form>
  </div>
</div>
