<div class="card m-3">
  <div class="card-body">
    <div *ngIf="!deleted">
      <table class="m-3">
        <tr>
          <th scope="row">Title:</th>
          <td *ngIf="selected !== editJa">{{ selected.title }}</td>
          <td *ngIf="selected === editJa">
            <textarea
              class="form-control"
              rows="5"
              name="fred"
              [(ngModel)]="editJa.title"
            ></textarea>
          </td>
        </tr>
        <tr>
          <th scope="row">Authors:</th>
          <td>
            {{ selected.authors | authorFormat }}
          </td>
          <!-- TODO: allow editing of authors -->
        </tr>
        <tr>
          <th scope="row">Journal:</th>
          <td *ngIf="selected !== editJa">{{ selected.journal.name }}</td>

          <td *ngIf="selected === editJa">
            <select
              class="form-control"
              [(ngModel)]="editJournal"
              name="editJournal"
            >
              <option [ngValue]="editJournal" selected>
                {{ editJournal.name }}
              </option>
              <option *ngFor="let j of allJournals" [ngValue]="j">
                {{ j.name }}
              </option>
            </select>
          </td>
        </tr>

        <!-- Volume -->
        <tr>
          <th scope="row">Volume:</th>
          <td *ngIf="selected !== editJa">{{ selected.volumeNum }}</td>
          <td *ngIf="selected === editJa">
            <input
              type="text"
              class="form-control"
              name="editVol"
              [(ngModel)]="editJa.volumeNum"
            />
          </td>
        </tr>

        <!-- Year -->
        <tr>
          <th scope="row">Year:</th>
          <td *ngIf="selected !== editJa">{{ selected.yearPublished }}</td>
          <td *ngIf="selected === editJa">
            <input
              type="text"
              class="form-control"
              name="editVol"
              [(ngModel)]="editJa.yearPublished"
            />
          </td>
        </tr>

        <!-- DOI -->
        <tr>
          <th scope="row">DOI:</th>
          <td *ngIf="selected !== editJa">{{ selected.doi }}</td>
          <td
            *ngIf="selected === editJa"
            style="max-width: 150px; word-wrap: 'break-word;'"
          >
            <input
              type="text"
              class="form-control"
              name="editDoi"
              [(ngModel)]="editJa.doi"
            />
          </td>
        </tr>
      </table>
      <!-- TODO: retrieve citation styles from database instead of hardcoding -->
      <div *ngIf="viewCite">
        <hr />
        <button class="btn btn-warning mr-2 mb-2" (click)="showAma()">
          AMA
        </button>
        <button class="btn btn-warning mr-2 mb-2" (click)="showApa()">
          APA
        </button>
        <!-- <a href="">ACS</a> ·
        <a href="">AMA</a> ·
        <a href="">AMS</a> ·
        <a href="">APA</a> ·
        <a href="">ASA</a> ·
        <a href="">Bluebook</a> ·
        <a href="">Chicago</a> ·
        <a href="">IEEE</a> ·
        <a href="">MLA</a> ·
        <a href="">NLM</a> ·
        <a href="">Vancouver</a> -->

        <div *ngIf="ama">test ama</div>
        <div *ngIf="apa">
          <h5>APA Citation:</h5>
          {{ this.selected | apaCitation }}
          <br /><button class="btn btn-warning btn-sm mr-2 mt-2">📋 Copy</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="deleted"><h2>Deleted.</h2></div>

  <!-- Buttons/Footer -->
  <div *ngIf="!viewCite">
    <div class="card-footer d-flex">
      <div *ngIf="!deleted && !editJa">
        <button class="btn btn-success mr-2" (click)="setEdit()">Edit</button>
        <button class="btn btn-warning mr-2" (click)="cite()">Cite</button>
        <button class="btn btn-info mr-2">Add to Collection</button>
        <button class="btn btn-secondary mr-2" (click)="goBack()">Back</button>
      </div>
      <div *ngIf="!deleted && editJa">
        <button class="btn btn-success mr-2" (click)="update(editJa)">
          Submit</button
        ><button class="btn btn-secondary mr-2" (click)="cancelEdit()">
          Cancel
        </button>
      </div>
      <div *ngIf="!deleted">
        <button class="btn btn-danger" (click)="delete(selected.id)">
          Delete
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="viewCite">
    <div class="card-footer d-flex">
      <button class="btn btn-success mr-2" (click)="setEdit()">Edit</button>
      <button class="btn btn-info mr-2">Add to Collection</button>
      <button class="btn btn-secondary mr-2" (click)="resetCite()">Back</button>
    </div>
  </div>
</div>
