/* Global */

.wrap-urls {
  word-break: break-all;
}

.btn-full-width {
  width: 100%;
}

.link-sidebar {
  color: white;
}

.link-sidebar:hover {
  color: white;
}

.link-white {
  color: white;
}

.link-white:hover {
  color: white;
}

.select-journal {
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar {
  min-height: 100vh;
}

.page-header {
  font-family: Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.no-wrap {
  flex-wrap: nowrap;
}


/* Palettes */


/*
Palette A:
primary: #4CC0CD;    bright light blue
secondary: #287286;    dark teal
warning: #c19a6b;    tan
(warning was originally #E0BB8E; but was too low contrast with white text)
danger: #B24251;    red

Thanks to colormind.io
*/

.navbar-palette-A {
  background-color: #287286;
}

.sidebar-palette-A {
  background-color: #c19a6b;
}

.header-palette-A {
  color: #287286;
}

.header-highlighter-palette-A {
  background-color: #4CC0CD;
}

/* btn-custom-primary (A) */
.btn-custom-primary-A {
  background-color: #4cc0cd;
  border-color: #4cc0cd;
  color: white;
}

.btn-custom-primary:hover,
.btn-custom-primary-A:hover {
  background-color: #359ca7 !important;
  border-color: #359ca7;
  color: white;
}

/* btn-custom-secondary (A) */
.btn-custom-secondary-A {
  background-color: #287286;
  border-color: #287286;
  color: white;
}

.btn-custom-secondary:hover,
.btn-custom-secondary-A:hover {
  background-color: #1e5868;
  border-color: #1e5868;
  color: white;
}

.btn-custom-secondary-white-A {
  background-color: #287286;
  border-color: white;
  color: white;
}

.btn-custom-secondary-white-A:hover {
  background-color: #1e5868;
  border-color: white;
  color: white;
}

/* button-custom-warning (A) */
.btn-custom-warning,
.btn-custom-warning-A {
  background-color: #c19a6b;
  border-color: #c19a6b;
  color: white;
}

.btn-custom-warning:hover,
.btn-custom-warning-A:hover {
  background-color: #a7855c;
  border-color: #c19a6b;
  color: white;
}

.btn-custom-warning-white,
.btn-custom-warning-white-A {
  background-color: #c19a6b;
  border-color: white;
  color: white;
}

.btn-custom-warning-white:hover,
.btn-custom-warning-white-A:hover {
  background-color: #a7855c;
  border-color: white;
  color: white;
}

/* btn-custom-danger (A) */

.btn-custom-danger,
.btn-custom-danger-A {
  background-color: #b24251;
  border-color: #b24251;
  color: white;
}

.btn-custom-danger:hover,
.btn-custom-danger-A:hover {
  background-color: #8f3642;
  border-color: #8f3642;
  color: white;
}

.btn-custom-danger-white,
.btn-custom-danger-white-A {
  background-color: #b24251;
  border-color: white;
  color: white;
}

.btn-custom-danger-white:hover,
.btn-custom-danger-white-A:hover {
  background-color: #8f3642;
  border-color: white;
  color: white;
}


/* Palette B:
B primary: #9A7156;
B secondary: #57382F;
B warning: #A39684;
B danger: #948D53;

Thanks to colormind.io
*/

.sidebar-palette-B {
  background-color: #A39684;
}

.navbar-palette-B {
  background-color: #57382F;
}

.header-palette-B {
  color: #57382F;
}

.header-highlighter-palette-B {
  background-color: #9A7156;
}

/* btn-custom-primary (B) */
.btn-custom-primary-B {
  background-color: #9A7156;
  border-color: #9A7156;
  color: white;
}

.btn-custom-primary-B:hover {
  background-color: #825f49;
  border-color: #825f49;
  color: white;
}

.btn-custom-primary-white-B {
  background-color: #9A7156;
  border-color: white;
  color: white;
}

.btn-custom-primary-white-B:hover {
  background-color: #825f49;
  border-color: white;
  color: white;
}

/* btn-custom-secondary (B) */
.btn-custom-secondary-B {
  background-color: #57382F;
  border-color: #57382F;
  color: white;
}

.btn-custom-secondary-B:hover {
  background-color: #7d4c41;
  border-color: #7d4c41;
  color: white;
}

.btn-custom-secondary-white-B {
  background-color: #57382F;
  border-color: white;
  color: white;
}

.btn-custom-secondary-white-B:hover {
  background-color: #7d4c41;
  border-color: white;
  color: white;
}

/* btn-custom-warning (B) */
.btn-custom-warning-B {
  background-color: #A39684;
  border-color: #A39684;
  color: white;
}

.btn-custom-warning-B:hover {
  background-color: #918678;
  border-color: #918678;
  color: white;
}

.btn-custom-warning-white-B {
  background-color: #A39684;
  border-color: white;
  color: white;
}

.btn-custom-warning-white-B:hover {
  background-color: #918678;
  border-color: white;
  color: white;
}

/* btn-custom-danger (B) */
.btn-custom-danger-B {
  background-color: #948D53;
  border-color: #948D53;
  color: white;
}

.btn-custom-danger-B:hover {
  background-color: #bbb25f;
  border-color: #bbb25f;
  color: white;
}

.btn-custom-danger-white-B {
  background-color: #948D53;;
  border-color: white;
  color: white;
}

.btn-custom-danger-white-B:hover {
  background-color: #bbb25f;
  border-color: white;
  color: white;
}


/* Palette Y (for testing only):
Y primary: yellow
Y secondary: brown
Y warning: orange
Y danger:red
*/

.sidebar-palette-Y {
  background-color: orange;
}

.navbar-palette-Y {
  background-color: brown;
}

/* btn-custom-primary (Y) */
.btn-custom-primary-Y {
  background-color: yellow;
  border-color: yellow;
  color: black;
}

.btn-custom-primary-Y:hover {
  background-color: yellow;
  border-color: yellow;
  color: black;
}

.btn-custom-primary-white-Y {
  background-color: yellow;
  border-color: white;
  color: white;
}

.btn-custom-primary-white-Y:hover {
  background-color: yellow;
  border-color: white;
  color: white;
}

/* btn-custom-secondary (Y) */
.btn-custom-secondary-Y {
  background-color: brown;
  border-color: brown;
  color: white;
}

.btn-custom-secondary-Y:hover {
  background-color: brown;
  border-color: brown;
  color: white;
}

.btn-custom-secondary-white-Y {
  background-color: brown;
  border-color: white;
  color: white;
}

.btn-custom-secondary-white-Y:hover {
  background-color: brown;
  border-color: white;
  color: white;
}

/* btn-custom-warning (Y) */
.btn-custom-warning-Y {
  background-color: orange;
  border-color: orange;
  color: white;
}

.btn-custom-warning-Y:hover {
  background-color: orange;
  border-color: orange;
  color: white;
}

.btn-custom-warning-white-Y {
  background-color: orange;
  border-color: white;
  color: white;
}

.btn-custom-warning-white-Y:hover {
  background-color: orange;
  border-color: white;
  color: white;
}

/* btn-custom-danger (Y) */
.btn-custom-danger-Y {
  background-color: red;
  border-color: red;
  color: white;
}

.btn-custom-danger-Y:hover {
  background-color: red;
  border-color: red;
  color: white;
}

.btn-custom-danger-white-Y {
  background-color: red;
  border-color: white;
  color: white;
}

.btn-custom-danger-white-Y:hover {
  background-color: red;
  border-color: white;
  color: white;
}


/* Palette Z:
Z primary: purple;
Z secondary: navy;
Z warning: grey;
Z danger: pink;
*/

.navbar-palette-Z {
  background-color: navy;
}

.header-palette-Z {
  color: navy;
}

.header-highlighter-palette-Z {
  background-color: pink;
}

.sidebar-palette-Z {
  background-color: grey !important;
}

/* btn-primary (Z) */
.btn-custom-primary-Z {
  background-color: purple;
  border-color: purple;
  color: white;
}

.btn-custom-primary-Z:hover {
  background-color: rgb(165, 1, 165);
  border-color:  rgb(165, 1, 165);
  color: white;
}

.btn-custom-primary-white-Z {
  background-color: purple;
  border-color: white;
  color: white;
}

.btn-custom-primary-white-Z:hover {
  background-color: rgb(165, 1, 165);
  border-color: white;
  color: white;
}

/* btn-secondary (Z) */
.btn-custom-secondary-Z {
  background-color: navy;
  border-color: navy;
  color: white;
}

.btn-custom-secondary-Z:hover {
  background-color: rgb(8, 8, 213);
  border-color: rgb(8, 8, 213);
  color: white;
}

.btn-custom-secondary-white-Z {
  background-color: navy;
  border-color: white;
  color: white;
}

.btn-custom-secondary-white-Z:hover {
  background-color: rgb(8, 8, 213);
  border-color: white;
  color: white;
}

/* btn-custom-warning (Z) */
.btn-custom-warning-Z {
  background-color: gray;
  border-color: gray;
  color: white;
}

.btn-custom-warning-Z:hover {
  background-color: rgb(171, 171, 171);
  border-color: rgb(171, 171, 171);
  color: white;
}

.btn-custom-warning-white-Z {
  background-color: gray;
  border-color: white;
  color: white;
}

.btn-custom-warning-white-Z:hover {
  background-color: rgb(171, 171, 171);
  border-color: white;
  color: white;
}

/* btn-custom-danger (Z) */
.btn-custom-danger-Z {
  background-color: pink;
  border-color: pink;
  color: white;
}

.btn-custom-danger-Z:hover {
  background-color: rgb(252, 157, 173);
  border-color: rgb(252, 157, 173);
  color: white;
}

.btn-custom-danger-white-Z {
  background-color: pink;
  border-color: white;
  color: white;
}

.btn-custom-danger-white-Z:hover {
  background-color: rgb(252, 157, 173);
  border-color: white;
  color: white;
}
