@import "~bootstrap/dist/css/bootstrap.css";

/*
Palette A:
F6F6F7  White
E0BB8E  Muted tan
Mod: Muted tan darkened for contrast with white text: #c19a6b;
B24251  Muted red
4CC0CD  Bright light blue
287286  Muted teal

Thanks to colormind.io

*/

/* A1: Muted teal */
nav,
.bg-palette-A1 {
  background-color: #287286;
}

.text-palette-A1 {
  color: #287286;
}

.link-my-collections-card,
.link-palette-A1 {
  color: #287286;
}

.link-my-collections-card:hover,
.link-palette-A1:hover {
  color: #287286;
}

.btn-custom-secondary,
.btn-palette-A1 {
  background-color: #287286;
  border-color: #287286;
  color: white;
}

.btn-custom-secondary:hover,
.btn-palette-A1:hover {
  background-color: #1e5868;
  border-color: #1e5868;
  color: white;
}

/* A2: Bright light blue */
.bg-palette-A2 {
  background-color: #4cc0cd;
}

.text-palette-A2 {
  color: #4cc0cd;
}

a,
.link-palette-A2 {
  color: #4cc0cd;
}

a:hover,
.link-palette-A2:hover {
  color: #359ca7;
}

.bg-palette-A2 {
  background-color: #4cc0cd;
}

.btn-custom-primary,
.btn-palette-A2 {
  background-color: #4cc0cd;
  border-color: #4cc0cd;
  color: white;
}

.btn-custom-primary:hover,
.btn-palette-A2:hover {
  background-color: #359ca7 !important;
  border-color: #359ca7;
  color: white;
}

/* A3: Muted tan */
.bg-palette-A3 {
  background-color: #c19a6b;
}

.text-palette-A3 {
  color: #c19a6b;
}

.btn-custom-warning,
.btn-palette-A3 {
  background-color: #c19a6b;
  border-color: #c19a6b;
  color: white;
}

.btn-custom-warning:hover,
.btn-palette-A3:hover {
  background-color: #a7855c;
  border-color: #c19a6b;
  color: white;
}

/* A4: Muted red */
.text-palette-A4 {
  color: #b24251;
}

.link-palette-A4 {
  color: #b24251;
}

.link-palette-A4:hover {
  color: #8f3642;
}

.btn-custom-danger,
.btn-palette-A4 {
  background-color: #b24251;
  border-color: #b24251;
  color: white;
}

.btn-custom-danger:hover,
.btn-palette-A4:hover {
  background-color: #8f3642;
  border-color: #8f3642;
  color: white;
}

.bg-palette-A4 {
  background-color: #b24251;
}

/* Other */
.btn-full-width {
  width: 100%;
}

.link-sidebar {
  color: white;
}

.link-sidebar:hover {
  color: white;
}

.select-journal {
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar {
  min-height: 100vh;
}

.page-header {
  /* color: #8f3642; */
  /* color: #c19a6b; */
  color: #287286;
}
