#palette-A-1 {
  height: 50px;
  width: 50px;
  background-color: grey;
}

#palette-A-2 {
  height: 50px;
  width: 50px;
  background-color: purple;
}

#palette-A-3 {
  height: 50px;
  width: 50px;
  background-color: navy;
}

#palette-A-4 {
  height: 50px;
  width: 50px;
  background-color: pink;
}

#palette-B-1 {
  height: 50px;
  width: 50px;
  background-color: brown;
}

#palette-B-2 {
  height: 50px;
  width: 50px;
  background-color: red;
}

#palette-B-3 {
  height: 50px;
  width: 50px;
  background-color: orange;
}

#palette-B-4 {
  height: 50px;
  width: 50px;
  background-color: yellow;
}
