<app-navi></app-navi>
<div class="container-fluid">
  <div class="row">
    <div class="col-3 col-xl-2 d-none d-md-block sidebar">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col">
      <h4 class="my-3 page-header">
        <span class="header-highlighter">&nbsp;</span>&nbsp;Dashboard
      </h4>
      <h5 class="text-palette-A1">Get started:</h5>
      <button
        class="btn my-1 mr-2 btn-custom-primary"
        [routerLink]="['/display-all-articles']"
      >
        List All
      </button>
      <button
        class="btn btn-custom-primary my-1 mr-2"
        [routerLink]="['/my-collections']"
      >
        My Collections
      </button>
      <button
        class="btn btn-custom-secondary mr-2 my-1"
        [routerLink]="['/create']"
      >
        Create
      </button>
      <button
        class="btn btn-custom-secondary mr-2 my-1"
        [routerLink]="['/search']"
      >
        Search
      </button>
      <hr />
      <button [ngClass]="'btn btn-custom-primary' + this.chosenPalette" (click)="choosePalette('A')">
        Choose Palette
      </button>
      <div id="palette-A-1" class="mt-2"></div>
      <div id="palette-A-2"></div>
      <div id="palette-A-3"></div>
      <div id="palette-A-4"></div>
      <hr />
      <button [ngClass]="'btn btn-custom-primary' + this.chosenPalette">
        Choose Palette
      </button>
      <div id="palette-B-1" class="mt-2"></div>
      <div id="palette-B-2"></div>
      <div id="palette-B-3"></div>
      <div id="palette-B-4"></div>
    </div>
  </div>
</div>
