<app-navi></app-navi>
<div class="container-fluid">
  <div class="row">
    <div
      class="col-2 bg-palette-A3 d-none d-md-block sidebar"
      style="min-height: 100vh"
    >
      <app-sidebar></app-sidebar>
    </div>
    <div class="col">
      <h4 class="my-3 page-header">Welcome, {{ this.username }}!</h4>

      <h5>Let's get started:</h5>
      <button
        class="btn btn-primary my-1 mr-2"
        [routerLink]="['/display-all-articles']"
      >
        List All
      </button>
      <button
        class="btn btn-secondary my-1 mr-2"
        [routerLink]="['/my-collections']"
      >
        My Collections
      </button>
      <button class="btn btn-secondary mr-2 my-1" [routerLink]="['/create']">
        Create
      </button>
      <button class="btn btn-secondary mr-2 my-1" [routerLink]="['/search']">
        Search
      </button>
    </div>
  </div>
</div>
