<app-navi></app-navi>
<div class="container-fluid">
  <div class="row flex-nowrap">
    <div [ngClass]="'col-2 d-none d-md-block sidebar sidebar-palette' + this.chosenPalette">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col">
      <h4 [ngClass]="'my-3 page-header header-palette' + this.chosenPalette">
        <span [ngClass]="'header-highlighter-palette' + this.chosenPalette">&nbsp;</span>&nbsp;All Articles<span class="float-right"
          >Total: {{ this.totalArticles }}</span
        >
      </h4>
      <app-display-articles
        [articlesToDisplay]="journalArticles"
      ></app-display-articles>
    </div>
  </div>
</div>
