<h3
  *ngIf="this.articleRemoved"
  [ngClass]="'mt-3 text-custom-warning' + this.chosenPalette"
>
  Removed.
</h3>
<table class="m-3">
  <ngContainer *ngIf="this.jaDeleted">
    <tr>
      <td>
        <h3 [ngClass]="'text-custom-danger' + this.chosenPalette">Deleted.</h3>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
  </ngContainer>
  <ngContainer *ngIf="this.submittedEditMessage">
    <tr>
      <td>
        <h3 [ngClass]="'text-custom-primary' + this.chosenPalette">{{this.submittedEditMessage}}</h3>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
  </ngContainer>
  <span
    [ngClass]="{ 'strike-through': this.jaDeleted }"
    *ngIf="!this.articleRemoved"
  >
    <tr>
      <th scope="row">Title:</th>
      <td *ngIf="!this.editMode">{{ ja.title }}</td>
      <td *ngIf="this.editMode">
        <textarea
          class="form-control"
          rows="5"
          name="fred"
          [(ngModel)]="ja.title"
        ></textarea>
      </td>
    </tr>
    <tr>
      <th scope="row">Authors:</th>
      <td>
        {{ ja.authors | authorFormat }}
      </td>
    </tr>
    <tr>
      <th scope="row">Journal:</th>
      <td *ngIf="!editMode">{{ ja.journal?.name }}</td>
      <td *ngIf="editMode">
        <select class="form-control" [(ngModel)]="ja.journal" name="jaJournal">
          <option [ngValue]="ja.journal" ja>
            {{ ja.journal?.name }}
          </option>
          <option *ngFor="let j of allJournals" [ngValue]="j">
            {{ j?.name }}
          </option>
        </select>
      </td>
    </tr>

    <!-- Volume -->
    <tr>
      <th scope="row">Volume:</th>
      <td *ngIf="!this.editMode">{{ ja.volumeNum }}</td>
      <td *ngIf="this.editMode">
        <input
          type="text"
          class="form-control"
          name="editVol"
          [(ngModel)]="ja.volumeNum"
        />
      </td>
    </tr>

    <!-- Year -->
    <tr>
      <th scope="row">Year:</th>
      <td *ngIf="!this.editMode">{{ ja.yearPublished }}</td>
      <td *ngIf="this.editMode">
        <input
          type="text"
          class="form-control"
          name="editVol"
          [(ngModel)]="ja.yearPublished"
        />
      </td>
    </tr>

    <!-- DOI -->
    <tr>
      <th scope="row">DOI:</th>
      <td *ngIf="!this.editMode">{{ ja.doi }}</td>
      <td
        *ngIf="this.editMode"
        style="max-width: 150px; word-wrap: 'break-word;'"
      >
        <input
          type="text"
          class="form-control"
          name="editDoi"
          [(ngModel)]="ja.doi"
        />
      </td>
    </tr>
  </span>
</table>

<!-- USER CLICKS ON CITE -->
<div *ngIf="viewCite">
  <hr />
  <button
    [ngClass]="'btn mr-2 mb-2 btn-custom-primary' + this.chosenPalette"
    *ngFor="let cs of this.citationStyles"
    (click)="chooseStyle(cs)"
  >
    {{ cs.abbreviation }}
  </button>
  <div *ngIf="chosenStyle" class="my-3">
    <app-citation-style-switch
      [chosenCitationStyle]="this.chosenStyle"
      [jaToCite]="this.ja"
      [showHeader]="true"
      [chosenPalette]="this.chosenPalette"
    ></app-citation-style-switch>
  </div>
</div>
<!-- ^^^ end citations view -->
