<div [ngSwitch]="this.chosenCitationStyle.abbreviation">
  <!-- AMA -->
  <div *ngSwitchCase="'AMA'">
    <h6 class="mt-2">{{ this.chosenCitationStyle.abbreviation }} citation:</h6>
    <app-ama-citation [ja]="this.jaToCite"></app-ama-citation>
  </div>

  <!-- APA -->
  <div *ngSwitchCase="'APA'">in APA</div>

  <!-- Chicago -->
  <div *ngSwitchCase="'Chicago'">
    Chicago citation style is not yet available.
  </div>

  <!-- IEEE -->
  <div *ngSwitchCase="'IEEE'">in IEEE</div>

  <!-- MLA -->
  <div *ngSwitchCase="'MLA'">MLA citation style is not yet available.</div>

  <!-- NLM -->
  <div *ngSwitchCase="'NLM'">in NLM</div>
</div>
