<div [ngSwitch]="this.chosenCitationStyle.abbreviation">
  <!-- AMA -->
  <div *ngSwitchCase="'AMA'">
    <app-ama-citation [ja]="this.jaToCite"></app-ama-citation>
  </div>

  <!-- APA -->
  <div *ngSwitchCase="'APA'">
    <app-apa-citation [ja]="this.jaToCite"></app-apa-citation>
  </div>

  <!-- IEEE -->
  <div *ngSwitchCase="'IEEE'">
    <app-ieee-citation [ja]="this.jaToCite"></app-ieee-citation>
  </div>

  <!-- NLM -->
  <div *ngSwitchCase="'NLM'">
    <app-nlm-citation [ja]="this.jaToCite"></app-nlm-citation>
  </div>

  <button
    [ngClass]="'btn btn-sm my-3 btn-custom-secondary' + this.chosenPalette"
    (click)="toggleMoreInfo()"
  >
    More Info ▼
  </button>
  <div *ngIf="this.showMoreInfo">
    <h6>{{ chosenCitationStyle.name }} ({{ chosenCitationStyle.abbreviation }}) format</h6>
    <em>Authoritative Source:</em>
    <br />
    {{ chosenCitationStyle.definitiveReference }}
    <br />
    <a [href]="chosenCitationStyle.definitiveReferenceUrl">{{
      chosenCitationStyle.definitiveReferenceUrl
    }}</a>
    <br />
    <br />
    <em>Links:</em>
    <br />
    <div *ngFor="let link of chosenCitationStyle.links">
      <a [href]="link.url">{{ link.url }}</a
      ><br />
      {{ link.comment }}
      <br />
      <br />
    </div>
  </div>
</div>
